<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles.css">
        <title>Add Album</title>
    </head>
    <body>
        <div class="container">
            <h1>Add a New Music Album</h1>
            <form action="/music-album" method="POST">
                <label for="musicTitle">Music Title:</label>
                <input type="text" id="musicTitle" name="musicTitle"
                    placeholder="Title" required>

                <label for="artist">Artist:</label>
                <input type="text" id="artist" name="artist"
                    placeholder="Artist" required>

                <label for="genre">Genre:</label>
                <input type="text" id="genre" name="genre" placeholder="Genre"
                    required>

                <label for="releaseYear">Release Year:</label>
                <input type="number" id="releaseYear" name="releaseYear"
                    placeholder="Year" required>

                <input type="submit" value="Add Album">
            </form>
            <a href="/music-album">Back</a>
        </div>
    </body>
</html>
